.arena-container {
    position: relative;
    display: grid;
    /* flex-wrap: wrap; */
    width: 90vw;
    left: 5vw;
    min-width: 1000px;
    height: 80vh;
    min-height: 850px;
    align-content: flex-start;
    /* border: 1px black solid; */
    background-color: whitesmoke
}