.arena-container {
    position: relative;
    display: grid;
    width: 100vw;
    top: 0vh;
    left: 0px;
    min-width: 1000px;
    height: 90vh;
    min-height: 850px;
    align-content: flex-start;
    background-color: whitesmoke;
    z-index: 1;
}