.tile-container {
    position: relative;
    border-radius: 5%;
    border: 1px solid #CFCFEA;
    background-color: whitesmoke;
    /* margin: .5px; */
    /* font-size: 10px; */
    text-align: center;
    font-weight: 600;
}

.END {
    border: 1px teal solid;
    background-color: darkcyan;
}

.START {
    border: 1px rosybrown solid;
    background-color: salmon;
}

.WALL {
    border: 1px  rgb(12, 53, 71) solid;
    animation: 0.3s expand ease-in forwards alternate;
}

@keyframes expand {
    0% {
        transform: scale(0.5);
        background-color: rgb(12, 53, 71);
    }

    25% {
        transform: scale(0.9);
        background-color: rgb(12, 53, 71);
    }

    50% {
        transform: scale(1.2);
        background-color: rgb(12, 53, 71);
    }

    100% {
        transform: scale(1.0);
        background-color: rgb(12, 53, 71);
    }
}

.moving {
    animation: 1s infinite border-flashing linear alternate;
}

@keyframes border-flashing {
    0% {
        border-color: transparent;
    }

    50% {
        border-color: black;
    }
}